* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color:darkgray;
}

header {
    padding: 16px 0;
    color: black;
    display: flex;
    border-bottom: 16px solid #a9a9aa;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

form {
    padding: 16px 0;
    text-align: center;
    
}

form h2 {
    padding: 8px;
}

input,button {
    padding: 8px;
    background-color: white;
}

ul li {
   color: black;
   text-align: center;
}